.btnsWrapper {
    padding: 20px;
}

.btnPaggination{
    border: 1px solid black;
    padding: 2px;
    margin: 2px;
}
.currPage {
    font-weight: bold;
    border: 2px solid black;
}
/* .btnPaggination{
    margin: 2px;
} */
