.btnsWrapper {
    padding: 20px;
}

.btnPaggination{
    border: 1px solid #7EA7D8;
    border-radius: 5px;
    padding: 3px 5px;
    margin: 2px;
    cursor: pointer;
}
.currPage {
    font-weight: bold;
    border: 2px solid #7EA7D8;
}
/* .btnPaggination{
    margin: 2px;
} */
