.myContacts{
   grid-area: c;
   border-right: 1px solid #666262;
   display: flex;
   flex-direction: column;
   align-items: center;
}


.userName{
    font-weight: 800;
    margin-top: 20px;
 }

 .talkToMe{
    font-weight: 700;
    margin-top: 18px;
    /* width: 130px; */
    /* border-top: 1px solid #666262;
    text-align: center; */
 }

 .contactsIcons{
   margin-top: 20px;
 }

 .socialIcon{
    max-width: 40px;
    margin: 0 5px;
    cursor: pointer;
 }
