.changeStatus img {
    max-width: 17px;
    max-height: 17px;
 }
 .changeStatus {
    border: 1px solid black;
    border-radius: 6px;
    padding: 3px 2px 2px 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
 }
 