.loginWrapper {
    /* text-align: center;
    margin-top: 70px; */
}
    

.loginBody{
    /* align-items: center; */
/* text-align: center; */

}

.loginBody h1 {
    margin-bottom: 10px;
}

@media (max-width: 480px){
    .loginWrapper{
        margin-bottom: 20px;
    }
}

