.navFriends {
    grid-area: f;
    background-color: #7EA7D8;
    padding: 20px 0px 20px 20px;
    border-radius: 10px;
}


.head {
    margin: 0 0 15px 0;
    font-size: 30px;
    font-weight: 400;
    color: white;

}

.friends {}